
<div class="container mt-3" *ngIf="userParams">
  <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="btn-group float-end">
      <button
        type="button"
        class="btn btn-primary"
        name="orderBy"
        (click)="loadMembers()"
        btnRadio="lastActive"
        [(ngModel)]="userParams.orderBy">Last Active</button>

      <button
        type="button"
        class="btn btn-primary ml-3"
        name="orderBy"
        (click)="loadMembers()"
        btnRadio="createdAt"
        [(ngModel)]="userParams.orderBy">Latest Members</button>
    </div>
  </form>
</div>

<div class="row">
  <div *ngFor="let member of members" class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;">
  </pagination>
</div>


